// variable naming
// use $<property>-description: value
  // ex.
  // $color-light-blue
  // $width-large

// wire framing colors
$color-black    : #101010;
$color-white    : #fefefe;
$color-lightgray: lightgray;
$color-gray     : gray;

/// toggle for helpers
$helpers-on: true;

// background-colors
$bgcs-on: true;
$bgcs: (
  'white'      : $color-white,
  'alabaster'  : $color-alabaster,
  'lightgray'  : $color-lightgray,
  'gray'       : $color-gray,
  'dark-gray'  : $color-dark-gray,
  'black'      : $color-black,
  'purple'     : $color-purple,
  'mid-purple' : $color-mid-purple,
  'dark-purple': $color-dark-purple,
  'pale-blue'  : $color-pale-blue,
  'brass'      : $color-brass,
  'dark-blue'  : $color-dark-blue,
  'bright-red' : $color-bright-red,
  'neon-yellow': $color-neon-yellow,
  'almond'     : $color-almond,
  'mid-blue'   : $color-mid-blue,
  't'          : transparent,
);

// nav colors purple, brass, dark-blue, bright-red, neon-yellow, almond, mid-blue

/// borders properties
$border-on: true;
// borders
$bds-on: true;
$bds: (
  (1, 's', 'solid', 'white', $color-white),
  (1, 's', 'solid', 'lightgray', $color-lightgray),
  (1, 's', 'solid', 'gray', $color-gray),
  (1, 's', 'solid', 'dark-gray', $color-dark-gray),
  (1, 's', 'solid', 'black', $color-black),
  (1, 's', 'solid', 'purple', $color-purple),
  (1, 's', 'solid', 'dark-purple', $color-dark-purple),
  (2, 's', 'solid', 'dark-gray', $color-dark-gray),
  (2, 's', 'solid', 'bright-red', $color-bright-red),
  (8, 's', 'solid', 'pale-blue', $color-pale-blue),
);

// border-radius
$bdrs-on: true;
$bdrss: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50;

/// bottom
$bottom-on: true;
// bottom pixels
$bs-px-on: true;
$bs-px: -32, -8, 0, 1, 5, 10, 15, 20, 24, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$bs-px-lg : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$bs-px-md : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$bs-px-sm : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$bs-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// bottom percentages
$bs-perc-on: true;
$bs-perc: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$bs-perc-lg : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$bs-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$bs-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$bs-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

// clear
$cls-on: true;
$cls: ('b': 'both', 'l': 'left', 'r': 'right');

// color
$cs-on: true;
$cs: (
  'white'      : $color-white,
  'lightgray'  : $color-lightgray,
  'gray'       : $color-gray,
  'dark-gray'  : $color-dark-gray,
  'black'      : $color-black,
  'dark-purple': $color-dark-purple,
  'purple'     : $color-purple,
  'mid-purple' : $color-mid-purple,
  'pale-blue'  : $color-pale-blue,
  'brass'      : $color-brass,
  'dark-blue'  : $color-dark-blue,
  'bright-red' : $color-bright-red,
  'neon-yellow': $color-neon-yellow,
  'almnod'     : $color-almond,
  'mid-blue'   : $color-mid-blue,
);

// cursor
$curs-on: true;
$curs: ('p': pointer, 'c': crosshair, 'm': move, 'ha': hand, 'he': help);

// display
$ds-on: true;
$ds: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex);
$ds-lg : ('n': none, '-i': inline, 'b': block, 'ib': inline-block, 'f': flex, 'if': inline-flex);
$ds-md : ('n': none, '-i': inline, 'b': block, 'ib': inline-block, 'f': flex, 'if': inline-flex);
$ds-sm : ('n': none, '-i': inline, 'b': block, 'ib': inline-block, 'f': flex, 'if': inline-flex);
$ds-smx: ('n': none, '-i': inline, 'b': block, 'ib': inline-block, 'f': flex, 'if': inline-flex);

/// flex
$flex-on: true;
// order
$ords-on: true;
$ords: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99;

// flex-grow
$fxgs-on: true;
$fxgs: 1, 2, 3, 4, 5;

// flex-shrink
$fxshs-on: true;
$fxshs: 1, 2, 3, 4, 5;

// flex-basis
$fxbs-on: true;
$fxbs: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// flex-direction
$fxdrs-on: true;
$fxdrs: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse);
$fxdrs-lg : ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse);
$fxdrs-md : ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse);
$fxdrs-sm : ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse);
$fxdrs-smx: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse);

// flex-wrap
$fxws-on: true;
$fxws: ('n': nowrap, 'w': wrap, 'r': wrap-reverse);

// justify-content
$jcs-on: true;
$jcs: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around);
$jcs-lg : ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around);
$jcs-md : ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around);
$jcs-sm : ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around);
$jcs-smx: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around);

// align-items
$ais-on: true;
$ais: ('fs': flex-start, 'fe': flex-end, 'b': baseline, 'c': center, 's': stretch);

// align-self
$ass-on: true;
$ass: ('b': baseline, 'c': center, 'a': auto);

// float
$fls-on: true;
$fls: ('l': left, 'r': right, 'n': none);
$fls-lg : ('l': left, 'r': right, 'n': none);
$fls-md : ('l': left, 'r': right, 'n': none);
$fls-sm : ('l': left, 'r': right, 'n': none);
$fls-smx: ('l': left, 'r': right, 'n': none);

/// font
$font-on: true;
// font-weight
$fws-on: true;
$fws: 100, 200, 300, 400, 500, 600, 700, 800, 900;

// font-size
$fzs-on: true;
$fzs:  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48, 56, 80;
$fzs-lg :  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;
$fzs-md :  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;
$fzs-sm :  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;
$fzs-smx:  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;

// font-style
$fss-on: true;
$fss: ('i': italic, 'o': oblique);

// font-family
$ffs-on: true;
$ffs: ('s': serif, 'ss': sans-serif);

// height
$height-on: true;
// height pixels
$hs-px-on: true;
$hs-px: 0, 1, 3, 4, 5, 8, 10, 15, 16, 18, 20, 24, 25, 30, 40, 44, 50, 56, 60, 70, 72, 75, 80, 88, 90, 96, 100, 104, 120, 125, 150, 175, 200, 225, 250, 275, 300, 325, 328, 340, 350, 375, 400, 448, 500, 520, 600, 700, 800;
$hs-px-lg : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$hs-px-md : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$hs-px-sm : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$hs-px-smx: 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// height percentages
$hs-perc-on: true;
$hs-perc: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$hs-perc-lg : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$hs-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$hs-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$hs-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

// height view widths
$hs-vw-on: true;
$hs-vw: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vw-lg : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vw-md : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vw-sm : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vw-smx: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

// height view heights
$hs-vh-on: true;
$hs-vh: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vh-lg : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vh-md : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vh-sm : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$hs-vh-smx: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

// left
$left-on: true;
// left pixels
$ls-px-on: true;
$ls-px: -56, -16, -8, 0, 1, 5, 8, 10, 15, 16, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 110, 125, 150, 175, 195, 200, 225, 250, 260, 275, 300, 325, 350, 375, 400, 434, 500, 598, 600, 700, 706, 800, 825;
$ls-px-lg : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ls-px-md : -10, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ls-px-sm : -30, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ls-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// left percentages
$ls-perc-on: true;
$ls-perc: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ls-perc-lg : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ls-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ls-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ls-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

// line-height
$lhs-on: true;
$lhs: ('0': 0, '1': 1, '1\\.2': 1.2, '1\\.3': 1.3, '1\\.4': 1.4, '1\\.5': 1.5, '2': 2);

// list-style
$lss-on: true;
$lss: ('n': none);

// margin
$ms-on: true;
$ms-px: -72, -8, -6, -4, 0, 1, 4, 5, 8, 10, 15, 16, 18, 20, 24, 25, 30, 32, 36, 40, 44, 48, 50, 56, 60, 64, 70, 72, 75, 80, 90, 100, 104, 110, 125, 150, 175, 200, 225, 231, 250, 275, 300, 325, 350, 375, 389, 400, 500, 600, 700, 800;
$ms-px-lg : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ms-px-md : 0, 1, 5, 10, 12, 15, 16, 20, 24, 25, 30, 40, 44, 48, 50, 60, 70, 72, 75, 80, 90, 100, 115, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ms-px-sm : 0, -16, -8, 1, 5, 10, 15, 20, 25, 30, 32, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ms-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// opacity
$ops-on: true;
$ops: ('0': 0, '\\.1': .1, '\\.2': .2, '\\.3': .3, '\\.4': .4, '\\.5': .5, '\\.6': .6, '\\.7': .7, '\\.8': .8, '\\.9': .9, '1': 1);

/// overflow properties
$overflow-on: true;
// overflow
$os-on: true;
$os: ('h': hidden, 'a': auto, 's': scroll);

// overflow-x
$oxs-on: true;
$oxs: ('h': hidden, 'a': auto, 's': scroll);

// overflow-y
$oys-on: true;
$oys: ('h': hidden, 'a': auto, 's': scroll);

// padding
$ps-on: true;
$ps-px: 0, 1, 4, 5, 8, 10, 15, 16, 20, 24, 25, 30, 32, 40, 44, 48, 50, 52, 56, 60, 64, 70, 72, 75, 80, 90, 100, 120, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ps-px-lg : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ps-px-md : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 48, 50, 56, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ps-px-sm : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 58, 60, 70, 72, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ps-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// position
$poss-on: true;
$poss: ('s': static, 'r': relative, 'a': absolute, 'f': fixed);
$poss-lg : ('s': static, 'r': relative, 'a': absolute, 'f': fixed);
$poss-md : ('s': static, 'r': relative, 'a': absolute, 'f': fixed);
$poss-sm : ('s': static, 'r': relative, 'a': absolute, 'f': fixed);
$poss-smx: ('s': static, 'r': relative, 'a': absolute, 'f': fixed);

// right
$right-on: true;
// right pixels
$rs-px-on: true;
$rs-px    : -16, -8, 0, 1, 5, 8, 10, 15, 16, 20, 24, 25, 30, 40, 44, 48, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$rs-px-lg : -16, -8, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$rs-px-md : -10, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$rs-px-sm : -30, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$rs-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// right percentages
$rs-perc-on: true;
$rs-perc: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$rs-perc-lg : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$rs-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$rs-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$rs-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

/// text
$text-on: true;
// text-transform
$tts-on: true;
$tts: ('u': uppercase, 'n': none);

// text-decoration
$tds-on: true;
$tds: ('n': none, 'u': underline);

// text-shadow
$tshs-on: true;
$tshs: (
  (1, 1, 1, 'white', $color-white),
  (1, 1, 1, 'lightgray', $color-lightgray),
  (1, 1, 1, 'gray', $color-gray),
  (1, 1, 1, 'black', $color-black),
);

// text-align
$tas-on: true;
$tas: ('l': left, 'c': center, 'r': right, 'j': justify);
$tas-lg : ('l': left, 'c': center, 'r': right, 'j': justify);
$tas-md : ('l': left, 'c': center, 'r': right, 'j': justify);
$tas-sm : ('l': left, 'c': center, 'r': right, 'j': justify);
$tas-smx: ('l': left, 'c': center, 'r': right, 'j': justify);


/// top
$top-on: true;
// top pixels
$ts-px-on: true;
$ts-px: -200, -75, -50, -42, 24, -8, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ts-px-lg : -800, -20, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ts-px-md : -80, -40, 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ts-px-sm : 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ts-px-smx: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// top percentages
$ts-perc-on: true;
$ts-perc: ( '1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ts-perc-lg : ('-100': -1, '1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ts-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ts-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ts-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '33': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

/// width
$width-on: true;
// width pixels
$ws-px-on: true;
$ws-px: 0, 1, 5, 8, 10, 15, 18, 20, 24, 25, 30, 40, 44, 48, 50, 60, 70, 75, 80, 90, 96, 100, 110, 120, 125, 150, 160, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ws-px-lg : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ws-px-md : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ws-px-sm : 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;
$ws-px-smx: 0, 1, 5, 8, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

// width percentages
$ws-perc-on: true;
$ws-perc: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5, '200': 2);
$ws-perc-lg : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ws-perc-md : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ws-perc-sm : ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);
$ws-perc-smx: ('1': .01, '2': .02, '3': .03, '4': .04, '5': .05, '10': .10, '12\\.25': .1225, '15': .15, '20': .20, '25': .25, '30': .30, '33\\.3333': .333333, '35': .35, '40': .40, '45': .45, '50': .50, '55': .55, '60': .60, '65': .65, '66\\.6666': .666666, '70': .70, '75': .75, '80': .80, '85': .85, '90': .90, '95': .95, '100': 1, '110': 1.1, '120': 1.2, '130': 1.3, '140': 1.4, '150': 1.5);

// width view widths
$ws-vw-on: true;
$ws-vw: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vw-lg : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vw-md : 5, 10, 15, 20, 25, 30,  35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vw-sm : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vw-smx: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

// width view widths
$ws-vh-on: true;
$ws-vh: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vh-lg : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vh-md : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vh-sm : 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$ws-vh-smx: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

/// word related
$word-on: true;
// word-break
$wobs-on: true;
$wobs: ('n': normal, 'k': keep-all, 'ba': break-all, 'nm': normal);

// word-wrap
$wows-on: true;
$wows: ('u': unrestricted, 's': suppress, 'b': break-word, 'n': none);

// z-index
$zs-on: true;
$zs: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99;